{% extends "index.html" %}

{% block tasks %}
<div class="ui segment">
    <p>
        
        <ul>
            {% for todo in todos %}
                {% if todo.complete  == False %}
                    <div class="ui list">
                        <p class="ui big header">
                            <span class="ui gray label">Remaining Task </span>
                            <!-- Removed ({{todo.id}}), style choice -->
                            <span class="ui big header">
                                {{todo.name}}
                            </span>
                        </p>
                    
                        <a href="/update/{{ todo.id }}" class="ui blue button">
                            Complete
                        </a>
                        <a href="/delete/{{ todo.id }}" class="ui red button">
                            Delete
                        </a>
                    </div>
                <!-- It is more efficient to just do an if/else here, but this groups like tasks -->
                {% endif %}
            {% endfor %}    
            {% for todo in todos %}
                {% if todo.complete  == True %}
                    <div class="ui list">
                        <p class="ui big header">
                            <span class="ui green label">Completed Task </span>
                            <!-- Removed ({{todo.id}}), style choice -->
                            <span class="ui big header">
                                {{todo.name}}
                            </span>
                        </p>
                        <a href="/update/{{ todo.id }}" class="ui blue button">
                            Re-Open
                        </a>
                        <a href="/delete/{{ todo.id }}" class="ui red button">
                            Delete
                        </a>
                
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </p>
</div>
{% endblock %}