{% extends "index.html" %}

{% block tasks %}
<div class="ui segment">
    <p>
        <h3 class="ui gray label">Remaining Tasks</h3>
        <ul>
            {% for todo in todos %}
                {% if todo.complete  == False %}
                    <li>
                        <p class="ui big header">
                            ({{todo.id}}) {{todo.name}}
                        </p>
                        <a href="/update/{{ todo.id }}" class="ui blue button">
                            Complete
                        </a>
                        <a href="/delete/{{ todo.id }}" class="ui red button">
                            Delete
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <h3 class="ui green label">Completed Tasks </h3>
        <ul>
            {% for todo in todos %}
                {% if  todo.complete == True %}
                <li>
                    <p class="ui big header">
                        ({{todo.id}}) {{todo.name}}
                    </p>
                    <a href="/update/{{ todo.id }}" class="ui blue button">
                        Re-Open
                    </a>
                    <a href="/delete/{{ todo.id }}" class="ui red button">
                        Delete
                    </a>
                </li>

                {% endif %}
            {% endfor %}
        </ul>
    </p>
</div>
{% endblock %}